# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

# Local data
data/raw/*
data/interim/*
data/processed/*
!data/raw/.gitkeep
!data/raw/base_ideal/
!data/raw/base_ideal/.gitkeep
!data/raw/bases_fuente/
!data/raw/bases_fuente/.gitkeep
!data/raw/promociones/
!data/raw/promociones/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep

# Reports generated locally
reports/*
!reports/.gitkeep

# Office temp files
~$*

# OS
.DS_Store
Thumbs.db
